header{
  display: flex;
  height: 100vh;
  position: fixed;
  top: 4em;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.navBar{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
  
}

.navbar__Close,.navbar__item{
  list-style: none;
  text-decoration: none;

}

.navbar__list{
  width: 100%;
  
}

.navbar__list i{
  font-size: 1.5em;
  margin-right: .5em;
}

.navbar__item{
  cursor: pointer;
  margin: 1em ;
  padding:1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: all .2s;
}

.navbar__item:hover{
  background-color: rgb(244, 239, 230);
  
}

.navbar__item a,.navbar__Close a{
  text-decoration: none;
  margin: 1em;
  
}

.item{
  color: black;
}

.login{
  cursor: pointer;
}

.navbar__Close{
  display: none;
} 

.btnMode{
  background-color: black;
  width: 30%;
  height: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: end;
  cursor: pointer;
  margin-top: 2em;
}

.btnMode2{
  background-color: gainsboro;
  width: 30%;
  height: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: start;
  cursor: pointer;
  margin-top: 2em;
}

.btnMode__change{
  border-radius: 50%;
  background-color: white;
  padding: 10px ;
  margin-right: 1.2px;
}

.btnMode__change2{
   border-radius: 50%;
   background-color: black;
   padding: 10px ;
   margin-right: 1.2px;
}




.btnExit{
  margin-top: 5em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1em;

}

.btnExit img{
  width: 50px;
}

.my-swal-title{
  position: relative;
  top:0;
  left:0;
  width: 100%;
}

.navBar__sesion{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.navBar__sesion img {
  width: 100px;
}

.li-item{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.cart{
  display: flex;
  justify-content: center;
  list-style: none;
 text-decoration: none;
 width: 0;
 margin: auto;
 margin-top: 1em;
}

.cart i{
  font-size: 3em;
  list-style: none;
  
}




