/* CartItem.css */

.cart-item {
  position: relative;
  /* display: inline-block; */
  margin-right: 3em;
}

.cart-icon {
  cursor: pointer;
  /* border: 1px solid blue; */
  width: 0;
}

.item-count {
  position: absolute;
  top: -2px; /* Ajusta la posición vertical según sea necesario */
  left: 35px; /* Ajusta la posición horizontal según sea necesario */
  background-color: red; /* Color de fondo del contador */
  color: white; /* Color del texto del contador */
  font-size: 12px; /* Tamaño de fuente del contador */
  width: 20px; /* Ancho del contador */
  height: 20px; /* Altura del contador */
  border-radius: 50%; /* Forma del contador */
  display: flex;
  justify-content: center;
  align-items: center;
}
