.container-home{
    height: 100vh;
    border: 1px solid red;
    display: flex;
    justify-content: center;

}

.total-sales{
    border: 1px solid blue;
    height: 300px;
    width: 300px;
    margin-top: 10em;
}

.day-sales{
    border: 1px solid green;
    height: 300px;
    width: 300px;
    margin-top: 10em;
}