.container-cart__count{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: auto;
  
}

.cartInfo{
  width: 500px;
  height: 200px;
}

.cartInfo img {
  width: 100%;
  height: 100%;
}

.cartInfo__description{
  color: black;
  font-weight: 900;
  font-size: 1.5em;
  text-align: center;
}

.btnRemove{
  font-size: 2em;
  cursor: pointer;
  border: none;
  border: 1px solid red;
  position: absolute;
  top: 0;
  right: 0;
}

.cardinfo{
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.allPrice{
  position: absolute;
  bottom:50px;
  font-weight: 900;
}

.allPriceItems{
  display: flex;
  align-items: center;
}

.totalCartPrice{
  color: rgb(22, 22, 194);
}

.empty{
  padding-left: .5em;
  cursor: pointer;
  font-size: 2em;
  background-color: transparent;
  border: none;
}

.empty:hover{
  background-color: transparent;
  border: none;
}

.btnConfirm{
  position: absolute;
  bottom: -2em;
}

@media (min-width:768px) {


  .allPrice{
    bottom:100px;
    font-size: 1.5em;

    position: absolute;
    right: 4em;
    bottom: 200px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
 
  }

  .btnConfirm{
    position: absolute;
    bottom: 300px;
    right: 2em;
    width: 70%;
  }

  .paymentMethod select{
    font-size: 0.8em;
    margin-bottom: 2em;
  }
}
